<html>
  <body>
    <h1>Hello Puppet World!</h1>
    <%= @welcome_message %>
    <h2>Some facts</h2>
    <ul>
      <li>osfamily = <%= @osfamily %></li>
      <li>fqdn = <%= @fqdn %></li>
    </ul>

  </body>
</html>



